@model List<Hotel.Models.ViewModels.RoomVm>
@{
    ViewData["Title"] = "Index";
}

<h3>Rooms</h3>

<div class="d-flex justify-content-start mb-3">
    <a asp-action="Create" class="btn btn-success me-2">Create new room</a>
    <a asp-controller="Admin" asp-action="Index" class="btn btn-secondary">Back to dashboard</a>
</div>

<table class="table">
    <thead>
        <tr>
            <th>Room ID</th>
            <th>Number</th>
            <th>Capacity</th>
        </tr>
    </thead>
    <tbody>
        @foreach(var room in Model)
        {
            <tr>
                <td>@room.Id</td>
                <td>@room.Number</td>
                <td>@room.Capacity.ToString()</td>
                <td>
                    <a asp-action="Edit" asp-route-id="@room.Id"
                       class="btn btn-primary btn-sm">Edit</a>
                    <a asp-action="Delete" asp-route-id="@room.Id"
                       class="btn btn-danger btn-sm">Delete</a>

                    <a asp-action="Calendar"
                       asp-route-id="@room.Id"
                       class="btn btn-info btn-sm">Calendar</a>

                </td>
            </tr>
        }
    </tbody>
</table>