@using Hotel.Models.ViewModels
@model BookingVm
@{
    ViewData["Title"] = "Delete Booking";
}

<h3>Are you sure you want to delete this booking?</h3>

<p>User name: @Model.UserName</p>
<p>Room number: @Model.RoomNumber</p>
<p>Number of people: @Model.NoOfPeople</p>
<p>Start date: @Model.StartDate</p>
<p>End date: @Model.EndDate</p>

<div class="d-flex align-items-center justify-content-start mt-3">
    <form asp-action="Delete" method="post">
        <input type="hidden" asp-for="Id" />
        <button type="submit" class="btn btn-danger">Delete</button>
        <a asp-action="Index" class="btn btn-success">Cancel</a>
    </form>
    
</div>