@using Hotel.Models.ViewModels
@model List<Hotel.Models.ViewModels.BookingVm>
@{
    ViewData["Title"] = "My bookings";
}

<h3>My bookings</h3>

<a asp-action="Book" class="btn btn-success mb-3">Create new booking</a>

<table class="table">
    <thead>
    <tr>
        <th>Room number</th>
        <th>Number of people</th>
        <th>Start date</th>
        <th>End date</th>
        <th class="text-end">Actions</th>
    </tr>
    </thead>
    <tbody>
    @foreach (var booking in Model)
    {
        <tr>
            <td>@booking.RoomNumber</td>
            <td>@booking.NoOfPeople</td>
            <td>@booking.StartDate</td>
            <td>@booking.EndDate</td>
            <td class="text-end">
                <a asp-action="Delete"
                   asp-route-id="@booking.Id"
                   class="btn btn-danger btn-sm">Delete</a>
            </td>
        </tr>
    }
    </tbody>
</table>
