@model List<Hotel.Models.User>
@{
    ViewData["Title"] = "Index";
}

<h3>Users</h3>

<div class="d-flex justify-content-start mb-3">
    <a asp-action="Create" class="btn btn-success me-2">Add a new user</a>
    <a asp-controller="Admin" asp-action="Index" class="btn btn-secondary">Back to dashboard</a>
</div>

<table class="table">
    <thead>
        <tr>
            <th>Email</th>
            <th>Password</th>
            <th>Role</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var user in Model)
        {
            <tr>
                <td>@user.Email</td>
                <td>@user.Password</td>
                <td>@user.Role</td>
                <td>
                    <a asp-action="Edit" asp-route-id="@user.Id"
                       class="btn btn-primary btn-sm">Edit</a>
                    <a asp-action="Delete" asp-route-id="@user.Id"
                       class="btn btn-danger btn-sm">Delete</a>
                    <a asp-controller="MyBookings" asp-action="UserBookings" 
                       asp-route-id="@user.Id" class="btn btn-info btn-sm">View Bookings
                    </a>
                </td>
            </tr>
        }
    </tbody>
</table>